.well
  = form_for [:admin, @workshop], html: { class: 'form-horizontal', multipart: true} do |f|
    %fieldset
      / %legend workshop

      / Title
      .form-group
        = f.label :title, 'Title', class: 'control-label col-lg-2'
        .col-lg-10
          = f.text_field :title, class: 'form-control', placeholder: 'Title'

      / Description
      .form-group
        = f.label :description, 'Beschrijving', class: 'control-label col-lg-2'
        .col-lg-10
          = f.text_area :description, class: 'form-control', placeholder: 'Description', rows: 3

      .form-group
        = f.label :type, class: 'control-label col-lg-2'
        .col-lg-10
          = f.select :type, Workshop.type.options, {}, {class: 'form-control' }

      .form-group
        = f.label :audience_list, 'Doelgroep', class: 'control-label col-lg-2'
        .col-lg-10
          = f.text_field :audience_list, class: 'form-control', data: { role: "tagsinput" }

      .form-group
        = f.label :tag_list, 'Andere tags', class: 'control-label col-lg-2'
        .col-lg-10
          = f.text_field :tag_list, class: 'form-control', data: { role: "tagsinput" }

      .form-group
        = f.label :cover_image, 'Cover afbeelding', class: 'control-label col-lg-2'
        .col-lg-10
          = f.file_field :cover_image, class: 'form-control'



      .checkbox
        %label
          = f.check_box :published
          Published

      - if action == 'new'
        = f.submit 'create', class: 'btn btn-primary'
      - else
        = f.submit 'update', class: 'btn btn-primary'

