%nav.social-navigation
  = link_to image_tag('icons/facebook.svg'), 'https://www.facebook.com/ProjectArtuur'
  = link_to image_tag('icons/instagram.svg'), 'http://instagram.com'


%section.section.start-section
  .content
    = image_tag 'logo.png', class: 'logo'

    %nav.quick-nav
      %ul
        %li
          = link_to 'workshops' do
            .label Workshops
            .description voor jong en oud, lekker creatief wezen
        %li
          = link_to 'bar' do
            .label Bar
            .description Zoet? schuimig? Vooral gezellig
        %li
          = link_to 'expo' do
            .label Expo
            .description
        %li
          = link_to 'workspace' do
            .label Workspace
            .description


    .about
      .intro

        %p Wij zijn Lieke en Neeltje, twee Lommelse dames die genieten van elke vorm van kunst & cultuur en deze passie willen we graag met jullie delen. Daarom richtten we Artuur op, een creatief project voor en door jongeren. Het is ons doel om zo veel mogelijk jongeren actief te laten deelnemen aan en genieten van kunst en cultuur.

        %p
          We doen dit door drie pijlers te integreren in ons project, namelijk:
          %ul
            %li een bar/café
            %li een expo/creatieve werkruimte
            %li workshops

        %p Verder delen we op onze website graag verhalen otver jonge kunstenaars, inspirerende plekken, boeken & films, musea & tentoonstellingen, maar bovenal willen we jullie inspireren om zelf creatief aan de slag te gaan!


      .about.about-lieke
        .profile-picture
          %img{src: "https://placekitten.com/425/425", alt: "Lieke"}

        .about-content
          %h2.title Lieke
          %p Lieke is interieurvormgeefster, geniet van het maken van illustraties en grafische ontwerpen maar geniet bovenal van creatievelingen die zichzelf engageren om aan de slag te gaan!
          %p Zelfontwikkeling en zelfbewust zijn is cruciaal en zij wil daarom iedereen inspireren om zichzelf te uiten in eender welke cultuur - en kunstvorm!
          %p
            Lieke is verantwoordelijk voor de exporuimte/shop, voor informatie of vragen hierover kan je mailen naar:
            %a{:href => "mailto:lieke@projectartuur.be"} lieke@projectartuur.be
            = ' .'

      .about.about-neeltje
        .profile-picture
          %img{src: "https://placekitten.com/450/450", alt: "Neeltje"}

        .about-content
          %h2.title Neeltje
          %p Neeltje is communicatiewetenschapper en sociaal cultureel werker, zij gelooft in de vormende kracht van kunst en cultuur en maakt er haar missie van om iedereen te laten proeven van verschillende kunstvormen.
          %p
            Neeltje is verantwoordelijk voor de workshops, voor meer info mag je mailen naar:
            %a{:href => "mailto:neeltje@projectartuur.be"} neeltje@projectartuur.be
            = ' .'
