%section.section.start-section
  .content
    = image_tag 'logo.png', class: 'logo'

    %nav.quick-nav
      %ul
        %li
          = link_to 'workshops' do
            .label Workshops
            .description voor jong en oud, lekker creatief wezen
        %li
          = link_to 'bar' do
            .label Bar
            .description Zoet? schuimig? Vooral gezellig
        %li
          = link_to 'expo' do
            .label Expo
            .description
        %li
          = link_to 'workspace' do
            .label Workspace
            .description

/ = yield
