!!!
%html
  %head
    %title ProjectArtuur
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{'http-equiv' => "X-UA-Compatible", content: "IE=edge"}
    %meta{name: "author", content: "Robin Houdmeyers"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi"}

    = csrf_meta_tags
  %body

    %nav.main-navigation
      %button.btn-close
        = image_tag 'icons/cross.svg', class: 'js-svg-inject icon'

      = link_to 'bar', bar_url, class: 'link'
      = link_to 'workshops', workshops_url, class: 'link'
      = link_to 'workspace', workspace_url, class: 'link'
      = link_to 'expo', expo_url, class: 'link'


      .social
        = link_to image_tag('icons/facebook.svg', class: 'js-svg-inject'), 'https://www.facebook.com/ProjectArtuur', class: 'link-social'
        = link_to image_tag('icons/instagram.svg', class: 'js-svg-inject'), 'http://instagram.com', class: 'link-social'

    / %nav.social-navigation
    /   = link_to image_tag('icons/facebook.svg'), 'https://www.facebook.com/ProjectArtuur'
    /   = link_to image_tag('icons/instagram.svg'), 'http://instagram.com'

    %button.nav-toggle
      = image_tag 'nav-toggle.svg'


    = yield
