!!!
%html
  %head
    %title ProjectArtuur
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{'http-equiv' => "X-UA-Compatible", content: "IE=edge"}
    %meta{name: "author", content: "Robin Houdmeyers"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi"}

    = csrf_meta_tags
  %body

    %nav.main-navigation
      %button.btn-close
        = image_tag 'icons/cross.svg', class: 'js-svg-inject icon'

      = link_to 'bar', bar_path, class: 'link'
      = link_to 'workshops', workshops_path, class: 'link'
      = link_to 'workspace', workspace_path, class: 'link'
      = link_to 'expo', expo_path, class: 'link'

      .social
        = link_to image_tag('icons/facebook.svg', class: 'js-svg-inject'), 'https://www.facebook.com/ProjectArtuur', class: 'link-social'
        = link_to image_tag('icons/instagram.svg', class: 'js-svg-inject'), 'http://instagram.com', class: 'link-social'

    %nav.social-navigation
      = link_to image_tag('icons/facebook.svg'), 'https://www.facebook.com/ProjectArtuur'
      = link_to image_tag('icons/instagram.svg'), 'http://instagram.com'

    %button.nav-toggle
      = image_tag 'nav-toggle.svg'


    %section.section.start-section
      .content
        = image_tag 'logo.png', class: 'logo'


        %nav.quick-nav
          %ul
            %li
              .label Workshops
              .description voor jong en oud, lekker creatief wezen
            %li
              .label Bar
              .description Zoet? schuimig? Vooral gezellig
            %li
              .label Expo
              .description
            %li
              .label Workspace
              .description

    %section.section.workshops-section
      %header.workshops-header
        %h1.title Workshops

    %section.section.bar-section
      .bar-header-outer-wrapper
        .bar-header-wrapper
          %header.bar-header
            %h1.title Bar
            %p.tagline He found himself transformed in his bed into a horrible vermin.

          = image_tag 'bar/cover.jpg', class: 'cover-image'

      .content-wrapper
        .content
          .opening-hours
          %ul.opening-hours-list
            %li.day.closed{class: ('today' if is_today('monday'))}
              .label maandag
              .info gesloten
            %li.day.closed{class: ('today' if is_today('tuesday'))}
              .label dinsdag
              .info gesloten
            %li.day{class: ('today' if is_today('wednesday'))}
              .label woensdag
              .info 10u tot 18u
            %li.day{class: ('today' if is_today('thursday'))}
              .label donderdag
              .info 10u tot 2u
            %li.day{class: ('today' if is_today('friday'))}
              .label vrijdag
              .info 10u tot 2u
            %li.day{class: ('today' if is_today('saturday'))}
              .label zaterdag
              .info 10u tot 2u
            %li.day{class: ('today' if is_today('sunday'))}
              .label zondag
              .info 12u tot 20u

        .menu-card
          = image_tag 'bar/menu-card-recto.png'
          = image_tag 'bar/menu-card-verso.png'

    %section.section.expo-section
      %h1.title Expo
      %p Ons volledige gebouw doet dienst als expositieruimte voor jonge artiesten. Het decor wisselt regelmatig van setting, zodat het publiek steeds door nieuwe creatievelingen verrast kan worden!
      %p
        Wil je meer informatie hierover? Of wil je graag jouw werken bij ons tentoon stellen?  Stuur dan een mailtje naar
        %a{href: "lieke@projectartuur.be"} lieke@projectartuur.be

    %section.section.workspace-section
      .gallery
        = image_tag 'workspace/workspace-4.jpg', class: 'image'
        = image_tag 'workspace/workspace-1.jpg', class: 'image'
        = image_tag 'workspace/workspace-2.jpg', class: 'image'
        = image_tag 'workspace/workspace-3.jpg', class: 'image'

      .content
        %h1.title Workspace
        %p Onze atelierruimte is een plaats om helemaal je ding te doen! We gaan voor een combinatie van creativiteit en werken, met als doel een kleine creatieve en interactieve gemeenschap te vormen.

        %p
          Werk je van thuis uit maar heb je soms nood aan een nieuwe inspirerende ruimte of sociale interactie?
          %br
          Werk je in een team of heb je een groepswerk voor school en wil je een gezellige plaats om samen te komen?
          %br
          Wil je graag een brainstorm houden in een creatieve omgeving?

        %p Dan ben je meer dan welkom in onze workspace!
        %p We voorzien elektriciteit en internet voor laptops/tablets en stellen creatief materiaal zoals kleurboeken, potloden en papier ter beschikking!

    / = yield
